#home__key {
  cursor: default;

  &::before {
    content: "> ";
  }

  &:not(.stop) {
    &::after {
      content: "";
      animation: addDots 1s ease-in-out infinite;
    }

    &:hover {
      &::after {
        animation-play-state: paused;
      }
    }
  }
}

@keyframes addDots {
  0% {
    content: ".";
  }

  33% {
    content: "..";
  }

  66% {
    content: "...";
  }
}

#home__content {
  &.active {
    .move-away-text {
      animation-fill-mode: forwards;
      animation-play-state: running;
    }
  }
}
