#btn-enter {
  transform: skewX(-10deg);
  box-shadow: 
   rgba(83, 155, 245, 1) 5px -3px;
}

#btn-enter:not(:disabled):active {
  transform: skewX(-10deg) translate(5px, -3px) scale(0.95);
  box-shadow: rgba(80, 148, 233, 1) 3px -1px;
}

#btn-enter .icon {
  animation: iconBounce 2s ease-in-out infinite;
}

@keyframes iconBounce {
  0%, 100% {
    transform: translateX(0)
  }

  50% {
    transform: translateX(20%)
  }
}
